{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/alertify/alertify.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/alertify/themes/bootstrap.css' %}">
    {% block css %}{% endblock css %}

    <!-- Javascript -->
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/alertify.min.js' %}"></script>
    {% block javascript %}{% endblock javascript %}

    <!-- Title -->
    <title>
        {% block title %}{% endblock title %}
    </title>

</head>

<!-- Body -->
{% block body %}{% endblock body %}

<!-- Messages Script -->
<script>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                alertify.notify('{{ message }}', 'warning', 5, function() {});
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                alertify.notify('{{ message }}', 'success', 5, function() {});
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                alertify.notify('{{ message }}', 'error', 0, function() {});
            {% endif %}
        {% endfor %}
    {% endif %}
</script>


</html>