{% extends "nav.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link href="{% static '/css/compose.css' %}" rel="stylesheet">
{% endblock css %}

{% block title %}
    Simple Email: Forward
{% endblock title %}

{% block javascript %}
    {{ block.super }}

    {# TinyMCE Compose Text Editor #}
    <script src="https://cdn.tiny.cloud/1/atcv4hj8bhdb3vq7uxn51n7l6fj8qom8div5jxfemgp9h2dm/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '#compose_body',
          toolbar: 'undo redo | fontselect| fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
              'bullist numlist outdent indent | link image | print preview media fullpage | ',
          skin: 'oxide-dark',
          browser_spellcheck: true
      });
    </script>

    {# Delete Warning Modal #}
    <script>
        function display_modal(event) {
            alertify.confirm(
                'Confirm Discard',
                'Are you sure you want to discard this message?',
                function () {
                    window.location.replace('/')
                },
                function () {}
            )
        }
    </script>

{% endblock javascript %}

{% block header %}
    <h1 class="h2 text-color">Forward</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-danger" onclick="display_modal()">Discard</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Save Draft</button>
            <button type="submit" form="forward-form" class="btn btn-sm btn-outline-primary">Send</button>
        </div>
    </div>
{% endblock header %}

{% block view %}
    <div>

        <form id="forward-form" action="/forward" method="post" class=" text-color ">
            {% csrf_token %}
            {{ form.sender.label }}
            <br>
            {{ form.sender }}
            <br>
            <br>
            {{ form.recipients.label }}
            <br>
            {{ form.recipients }}
            <br>
            <br>
            {{ form.subject.label }}
            <br>
            {{ form.subject }}
            <br>
            {{ form.is_forward.as_hidden }}
            <br>
            <textarea id="compose_body" name="{{ form.body.html_name }}"
            rows="30" cols="33" style = 'background-color: black'>
                {{ form.body.value }}
            </textarea>

        </form>
    </div>

{% endblock view %}