{% extends "nav.html" %}

{% block title %}
    {% if folder == 'inbox' %}
        Simple Email: Inbox
    {% elif folder == 'outbox' %}
        Simple Email: Outbox
    {% endif %}
{% endblock title %}

{% block header %}

    {% if folder == 'inbox' %}
        <h1 class="h2 text-color">Inbox</h1>
    {% elif folder == 'outbox' %}
        <h1 class="h2 text-color">Outbox</h1>
    {% endif %}

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary btn-color">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary btn-color">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle btn-color">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div>
{% endblock header %}

{% block view %}
    <div class="table-responsive">
        <table class="table table-striped table-sm text-color">
          <tbody>
            <tr>
              <th>Subject</th>
              <th>From</th>
              <th>To</th>
            </tr>
          {% for email in emails %}
            <tr>
              <td><a href="/view/{{ email.uid }}">{{ email.subject }}</a></td>
              <td>{{ email.from }}</td>
              <td>{{ email.to }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock view %}