{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock css %}

{% block title %}
    Simple Email: Login
{% endblock title %}

{% block body %}
  <body class="text-center">
    <form class="form-signin" method="post">
      {% csrf_token %}

      {#<img class="mb-4" src="Signin%20Template%20%C2%B7%20Bootstrap_files/bootstrap-solid.svg" alt="" width="72" height="72">#}

      <h1 class="h3 mb-4 font-weight-normal">Welcome to Simple Apps</h1>

      <label for="inputUsername" class="sr-only">Username</label>
      <input name="username" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

      <div class="checkbox mb-3">
        <label>
          <input name="remember" type="checkbox" value="true" checked> Remember me
        </label>
      </div>


      <button class="btn btn-lg btn-primary btn-block btn-color" type="submit">Sign in</button>

      <p class="mt-2 mb-3 text-muted">New here? <a href="/register">Register</a> for free!</p>

    </form>
  </body>
{% endblock body %}