{% extends "nav.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/compose.css' %}" rel="stylesheet">
{% endblock css %}

{% block title %}
    Simple Notes: Compose
{% endblock title %}



{% block view %}
    <div class="text-color">
        <p>To: {{ to }}</p>
        <p>From: {{ sender.user.email }}</p>
        <br/>
        {{ email.body|safe }}

        <!-- Attachments -->
        {% for attach in attachments %}
            <a href="/media/{{ attach.file.name }}" target="_blank" rel="noopener noreferrer">
                Attachment: {{ attach.name }}
            </a>
        {% endfor %}

    </div>

{% endblock view %}