{% extends "nav.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/compose.css' %}" rel="stylesheet">
{% endblock css %}

{% block title %}
    Simple Email: Compose
{% endblock title %}



{% block header %}
    <h1 class="h2 text-color">{% if sender.is_forward %}FWD: {% endif %}{{ email.subject }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Archive</button>
            <a href="/forward/{{ email.uid }}" role="button" class="btn btn-sm btn-outline-primary">Forward</a>
        </div>
    </div>
{% endblock header %}

{% block view %}
    <div class="text-color">
        <p>To: {{ to }}</p>
        <p>From: {{ sender.user.email }}</p>
        <br/>
        {{ email.body|safe }}

        <!-- Attachments -->
        {% for attach in attachments %}
            <a href="/media/{{ attach.file.name }}" target="_blank" rel="noopener noreferrer">
                Attachment: {{ attach.name }}
            </a>
        {% endfor %}

    </div>

{% endblock view %}